In [1]:
#pip install requests beautifulsoup4 pandas
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/Agriculture_in_India'
#url = 'https://en.wikipedia.org/wiki/List_of_best-selling_automobiles'
response = requests.get(url)

In [3]:
#Parse the content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
#Find the table (Wikipedia tables usually have class "wikitable")
table = soup.find('table', {'class': 'wikitable'})

In [5]:
#Extract table headers
headers = []
for th in table.find_all('th'):
    print(th)
    header_text = th.text.strip()
    headers.append(header_text)

<th>Rank
</th>
<th>Commodity
</th>
<th>Value (US$, 2016)
</th>
<th>Unit price<br/>(US$ / kilogram, 2009)
</th>
<th>Average yield<br/>(tonnes per hectare, 2017)
</th>
<th colspan="2">Most productive country<br/>(tonnes per hectare, 2017)
</th>

In [6]:
#Extract table headers
headers = []
for th in table.find_all('th'):
    header_text = th.text.strip()
    print(header_text)
    headers.append(header_text)
    
    
print(len(headers))

Rank
Commodity
Value (US$, 2016)
Unit price(US$ / kilogram, 2009)
Average yield(tonnes per hectare, 2017)
Most productive country(tonnes per hectare, 2017)
6

In [7]:
# Step 5: Extract table rows
rows = []
for tr in table.find_all('tr'):
    # Get all cells (both header and data cells)
    cells = tr.find_all(['td', 'th'])
    row = [cell.get_text(strip=True) for cell in cells]
    
    # Only add rows that have at least one cell
    if row:
        rows.append(row)

In [8]:
# Step 6: Handle cases where rows have fewer or more columns than headers
# Pad rows with missing values (None) or truncate them to match the number of headers
cleaned_rows = []
for row in rows:
    if len(row) < len(headers):
        # Pad the row if it's shorter than headers
        row.extend([None] * (len(headers) - len(row)))
    elif len(row) > len(headers):
        # Truncate the row if it's longer than headers
        row = row[:len(headers)]
    cleaned_rows.append(row)

In [16]:

# Step 7: Create a DataFrame from the cleaned rows
df = pd.DataFrame(cleaned_rows, columns=headers)

# Display the first few rows of the DataFrame
print(df.head())

   Rank     Commodity  Value (US$, 2016)  Unit price(US$ / kilogram, 2009)  \
0  Rank     Commodity  Value (US$, 2016)  Unit price(US$ / kilogram, 2009)
1     1          Rice     $70.18 billion                              0.27
2     2  Buffalo milk     $43.09 billion                               0.4
3     3      Cow milk     $32.55 billion                              0.31
4     4         Wheat     $26.06 billion                              0.15

   Average yield(tonnes per hectare, 2017)  \
0  Average yield(tonnes per hectare, 2017)
1                                     3.85
2                                 2.00[78]
3                                  1.2[78]
4                                      2.8

   Most productive country(tonnes per hectare, 2017)
0  Most productive country(tonnes per hectare, 2017)
1                                               9.82
2                                           2.00[78]
3                                           10.3[78]
4                                                8.9

In [17]:
df = df[1:]
print(df)

   Rank                 Commodity Value (US$, 2016)  \
1     1                      Rice    $70.18 billion
2     2              Buffalo milk    $43.09 billion
3     3                  Cow milk    $32.55 billion
4     4                     Wheat    $26.06 billion
5     5      Cotton(Lint + Seeds)    $23.30 billion
6     6            Mangoes,guavas    $14.52 billion
7     7          Fresh Vegetables    $11.87 billion
8     8              Chicken meat     $9.32 billion
9     9                  Potatoes     $8.23 billion
10   10                    Banana     $8.13 billion
11   11                Sugar cane     $7.44 billion
12   12                     Maize     $5.81 billion
13   13                   Oranges     $5.62 billion
14   14                  Tomatoes     $5.50 billion
15   15                Chick peas     $5.40 billion
16   16                      Okra     $5.25 billion
17   17                  Soybeans     $5.13 billion
18   18                  Hen eggs     $4.64 billion
19   19  Cauliflower and Broccoli     $4.33 billion
20   20                    Onions     $4.05 billion

   Unit price(US$ / kilogram, 2009) Average yield(tonnes per hectare, 2017)  \
1                              0.27                                    3.85
2                               0.4                                2.00[78]
3                              0.31                                 1.2[78]
4                              0.15                                     2.8
5                              1.43                                     1.6
6                               0.6                                     6.3
7                              0.19                                    13.4
8                              0.64                                    10.6
9                              0.15                                    19.9
10                             0.28                                    37.8
11                             0.03                                      66
12                             0.42                                     1.1
13
14                             0.37                                    19.3
15                              0.4                                     0.9
16                             0.35                                     7.6
17                             0.26                                     1.1
18                              2.7                                 0.1[78]
19                             2.69                               0.138[78]
20                             0.21                                    16.6

   Most productive country(tonnes per hectare, 2017)
1                                               9.82
2                                           2.00[78]
3                                           10.3[78]
4                                                8.9
5                                                4.6
6                                               40.6
7                                               76.8
8                                               20.2
9                                               44.3
10                                              59.3
11                                               125
12                                               5.5
13
14                                              55.9
15                                               2.8
16                                              23.9
17                                               3.7
18                                          0.42[78]
19                                         0.424[78]
20                                              67.3