In [2]:
import pandas as pd

In [3]:
import numpy as np
import seaborn as sns

In [4]:
df=pd.read_csv('loans.csv')

In [5]:
df.describe

<bound method NDFrame.describe of      client_id loan_type  loan_amount  repaid  loan_id  loan_start  \
0        46109      home        13672       0    10243  2002-04-16
1        46109    credit         9794       0    10984  2003-10-21
2        46109      home        12734       1    10990  2006-02-01
3        46109      cash        12518       1    10596  2010-12-08
4        46109    credit        14049       1    11415  2010-07-07
..         ...       ...          ...     ...      ...         ...
438      26945     other        12963       0    10330  2001-11-26
439      26945    credit         1728       1    10248  2004-01-27
440      26945     other         9329       0    10154  2001-12-17
441      26945      home         4197       0    10333  2003-10-16
442      26945      home         3643       0    11434  2010-03-24

       loan_end  rate
0    2003-12-20  2.15
1    2005-07-17  1.25
2    2007-07-05  0.68
3    2013-05-05  1.24
4    2012-05-21  3.13
..          ...   ...
438  2004-06-11  2.46
439  2005-06-21  5.27
440  2004-07-22  5.65
441  2005-07-10  4.50
442  2011-12-22  0.13

[443 rows x 8 columns]>

In [6]:
df.isnull().sum()

client_id      0
loan_type      0
loan_amount    0
repaid         0
loan_id        0
loan_start     0
loan_end       0
rate           0
dtype: int64

In [7]:
df.nunique()

client_id       25
loan_type        4
loan_amount    438
repaid           2
loan_id        443
loan_start     430
loan_end       428
rate           336
dtype: int64

In [8]:
df.dtypes

client_id        int64
loan_type       object
loan_amount      int64
repaid           int64
loan_id          int64
loan_start      object
loan_end        object
rate           float64
dtype: object

In [35]:
df['repaid']=df['repaid'].astype('object')
df['loan_start']=df['loan_start'].astype('datetime64[ns]')
df['loan_end']=df['loan_end'].astype('datetime64[ns]')
df['client_id']=df['client_id'].astype('object')
df['loan_id']=df['loan_id'].astype('object')

In [36]:
df.dtypes

client_id              object
loan_type              object
loan_amount             int64
repaid                 object
loan_id                object
loan_start     datetime64[ns]
loan_end       datetime64[ns]
rate                  float64
dtype: object

In [37]:
df.nunique()

client_id       25
loan_type        4
loan_amount    438
repaid           2
loan_id        443
loan_start     430
loan_end       428
rate           336
dtype: int64

In [38]:
print(df)

    client_id loan_type  loan_amount repaid loan_id loan_start   loan_end  \
0       46109      home        13672      0   10243 2002-04-16 2003-12-20
1       46109    credit         9794      0   10984 2003-10-21 2005-07-17
2       46109      home        12734      1   10990 2006-02-01 2007-07-05
3       46109      cash        12518      1   10596 2010-12-08 2013-05-05
4       46109    credit        14049      1   11415 2010-07-07 2012-05-21
..        ...       ...          ...    ...     ...        ...        ...
438     26945     other        12963      0   10330 2001-11-26 2004-06-11
439     26945    credit         1728      1   10248 2004-01-27 2005-06-21
440     26945     other         9329      0   10154 2001-12-17 2004-07-22
441     26945      home         4197      0   10333 2003-10-16 2005-07-10
442     26945      home         3643      0   11434 2010-03-24 2011-12-22

     rate
0    2.15
1    1.25
2    0.68
3    1.24
4    3.13
..    ...
438  2.46
439  5.27
440  5.65
441  4.50
442  0.13

[443 rows x 8 columns]

In [39]:
numer = df.select_dtypes(include=[np.number])

In [40]:
tr=1
z=abs((numer-numer.mean())/numer.std())

In [41]:
z

     loan_amount      rate
0       1.363488  0.445174
1       0.434157  0.820617
2       1.138704  1.058397
3       1.086941  0.824788
4       1.453833  0.036358
..           ...       ...
438     1.193582  0.315854
439     1.498795  0.856362
440     0.322723  1.014883
441     0.907119  0.535150
442     1.039881  1.287835

[443 rows x 2 columns]

In [42]:
rownum=(tr > z).all(axis=1)

In [44]:
print(rownum)

0      False
1       True
2      False
3      False
4      False
       ...
438    False
439    False
440    False
441     True
442    False
Length: 443, dtype: bool

In [45]:
cleaned=df[rownum]

In [51]:
cleaned['rate'].max()

np.float64(5.61)

In [48]:
df['rate'].unique()

array([2.150e+00, 1.250e+00, 6.800e-01, 1.240e+00, 3.130e+00, 1.940e+00,
       9.480e+00, 4.140e+00, 5.480e+00, 4.260e+00, 6.490e+00, 5.000e-01,
       8.600e-01, 5.980e+00, 2.820e+00, 1.290e+00, 3.300e+00, 3.120e+00,
       7.900e-01, 4.150e+00, 8.100e-01, 8.300e-01, 6.520e+00, 5.000e-02,
       1.500e-01, 4.070e+00, 3.600e+00, 1.410e+00, 5.970e+00, 2.630e+00,
       4.230e+00, 1.640e+00, 3.280e+00, 5.440e+00, 4.380e+00, 1.220e+00,
       1.140e+00, 3.920e+00, 4.500e-01, 1.010e+00, 1.049e+01, 8.800e-01,
       3.600e-01, 3.760e+00, 2.520e+00, 1.180e+00, 1.210e+00, 5.790e+00,
       9.000e-01, 9.080e+00, 1.700e+00, 2.580e+00, 6.480e+00, 1.500e+00,
       1.070e+00, 6.510e+00, 4.300e-01, 8.390e+00, 3.160e+00, 3.950e+00,
       6.860e+00, 1.380e+00, 4.470e+00, 3.200e+00, 5.700e-01, 3.050e+00,
       6.130e+00, 2.340e+00, 3.140e+00, 8.900e-01, 9.260e+00, 5.510e+00,
       2.230e+00, 2.480e+00, 8.700e-01, 3.300e-01, 5.470e+00, 1.820e+00,
       7.400e+00, 9.440e+00, 5.720e+00, 2.390e+00, 3.180e+00, 1.680e+00,
       8.500e-01, 1.370e+00, 4.090e+00, 4.370e+00, 4.590e+00, 4.560e+00,
       1.580e+00, 3.210e+00, 6.020e+00, 5.000e+00, 2.500e-01, 8.340e+00,
       9.910e+00, 7.000e-01, 6.000e-01, 1.000e+00, 3.570e+00, 2.440e+00,
       6.500e-01, 1.340e+00, 4.250e+00, 4.950e+00, 1.900e-01, 1.620e+00,
       3.980e+00, 8.600e+00, 4.450e+00, 2.870e+00, 2.780e+00, 9.100e+00,
       2.060e+00, 3.200e-01, 4.200e+00, 2.830e+00, 2.700e+00, 3.740e+00,
       9.700e-01, 6.600e-01, 3.100e-01, 3.310e+00, 4.580e+00, 2.720e+00,
       2.640e+00, 7.630e+00, 5.360e+00, 4.300e+00, 2.990e+00, 1.890e+00,
       5.960e+00, 2.660e+00, 7.130e+00, 2.840e+00, 6.700e-01, 2.270e+00,
       5.760e+00, 1.160e+00, 1.760e+00, 4.990e+00, 5.890e+00, 1.750e+00,
       7.500e+00, 1.930e+00, 1.400e+00, 5.110e+00, 2.100e+00, 2.760e+00,
       4.290e+00, 4.660e+00, 8.440e+00, 2.210e+00, 1.600e-01, 7.110e+00,
       5.850e+00, 6.000e+00, 6.170e+00, 1.230e+00, 5.690e+00, 1.520e+00,
       2.140e+00, 4.870e+00, 5.130e+00, 6.100e-01, 4.980e+00, 2.810e+00,
       5.200e-01, 1.089e+01, 6.730e+00, 7.800e-01, 1.630e+00, 1.450e+00,
       5.100e-01, 7.400e-01, 2.130e+00, 5.430e+00, 6.610e+00, 3.240e+00,
       1.320e+00, 2.980e+00, 2.740e+00, 2.350e+00, 1.300e+00, 1.970e+00,
       2.510e+00, 6.400e-01, 6.900e-01, 6.740e+00, 3.680e+00, 1.280e+00,
       2.260e+00, 7.600e-01, 5.570e+00, 3.800e-01, 9.500e-01, 9.140e+00,
       3.400e-01, 1.000e-02, 4.170e+00, 1.840e+00, 5.900e-01, 6.380e+00,
       6.920e+00, 5.010e+00, 8.740e+00, 3.930e+00, 1.460e+00, 4.740e+00,
       4.440e+00, 2.600e-01, 2.190e+00, 6.110e+00, 2.600e+00, 6.420e+00,
       4.630e+00, 1.190e+00, 3.960e+00, 5.090e+00, 6.760e+00, 3.430e+00,
       6.120e+00, 6.580e+00, 9.220e+00, 4.970e+00, 3.610e+00, 3.790e+00,
       2.420e+00, 7.000e-02, 2.970e+00, 3.590e+00, 4.050e+00, 5.520e+00,
       6.570e+00, 2.900e-01, 7.140e+00, 5.280e+00, 6.830e+00, 3.080e+00,
       3.490e+00, 4.700e-01, 1.480e+00, 1.000e-01, 9.110e+00, 1.700e-01,
       7.210e+00, 5.250e+00, 2.770e+00, 2.910e+00, 6.300e-01, 5.780e+00,
       6.670e+00, 1.990e+00, 5.180e+00, 5.650e+00, 3.170e+00, 3.900e-01,
       2.530e+00, 2.030e+00, 6.780e+00, 2.570e+00, 2.000e-02, 4.080e+00,
       4.750e+00, 8.000e-01, 3.620e+00, 4.190e+00, 2.960e+00, 3.270e+00,
       3.000e-02, 1.170e+00, 4.100e+00, 9.400e-01, 1.910e+00, 5.740e+00,
       9.230e+00, 2.170e+00, 1.560e+00, 4.160e+00, 5.540e+00, 5.830e+00,
       1.740e+00, 2.950e+00, 1.530e+00, 9.010e+00, 3.810e+00, 2.200e-01,
       1.860e+00, 2.890e+00, 3.450e+00, 2.850e+00, 2.380e+00, 4.790e+00,
       2.550e+00, 2.540e+00, 2.790e+00, 3.330e+00, 8.010e+00, 5.320e+00,
       3.500e-01, 3.700e-01, 2.370e+00, 4.600e-01, 7.500e-01, 5.800e+00,
       1.880e+00, 3.030e+00, 1.960e+00, 4.880e+00, 2.250e+00, 7.360e+00,
       9.820e+00, 9.200e-01, 5.680e+00, 5.610e+00, 1.030e+00, 1.120e+00,
       6.190e+00, 4.600e+00, 2.280e+00, 3.940e+00, 3.770e+00, 6.240e+00,
       4.240e+00, 3.440e+00, 1.262e+01, 4.120e+00, 2.860e+00, 3.510e+00,
       3.190e+00, 1.200e+00, 2.460e+00, 5.270e+00, 4.500e+00, 1.300e-01])