In [1]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv("dataset.csv")

In [9]:
print(df.head())

   Unnamed: 0   ID  AGE  PackHistory COPDSEVERITY   MWT1   MWT2  MWT1Best  \
0           1   58   77         60.0       SEVERE  120.0  120.0     120.0
1           2   57   79         50.0     MODERATE  165.0  176.0     176.0
2           3   62   80         11.0     MODERATE  201.0  180.0     201.0
3           4  145   56         60.0  VERY SEVERE  210.0  210.0     210.0
4           5  136   65         68.0       SEVERE  204.0  210.0     210.0

   FEV1  FEV1PRED  ...   SGRQ  AGEquartiles  copd  gender  smoking  Diabetes  \
0  1.21      36.0  ...  69.55             4     3       1        2         1
1  1.09      56.0  ...  44.24             4     2       0        2         1
2  1.52      68.0  ...  44.09             4     2       0        2         1
3  0.47      14.0  ...  62.04             1     4       1        2         0
4  1.07      42.0  ...  75.56             1     3       1        2         0

   muscular  hypertension  AtrialFib  IHD
0         0             0          1    0
1         0             0          1    1
2         0             0          1    0
3         0             1          1    0
4         1             1          0    0

[5 rows x 24 columns]

In [10]:
print(df.columns)
print(df.dtypes)

Index(['Unnamed: 0', 'ID', 'AGE', 'PackHistory', 'COPDSEVERITY', 'MWT1',
       'MWT2', 'MWT1Best', 'FEV1', 'FEV1PRED', 'FVC', 'FVCPRED', 'CAT', 'HAD',
       'SGRQ', 'AGEquartiles', 'copd', 'gender', 'smoking', 'Diabetes',
       'muscular', 'hypertension', 'AtrialFib', 'IHD'],
      dtype='object')
Unnamed: 0        int64
ID                int64
AGE               int64
PackHistory     float64
COPDSEVERITY     object
MWT1            float64
MWT2            float64
MWT1Best        float64
FEV1            float64
FEV1PRED        float64
FVC             float64
FVCPRED           int64
CAT               int64
HAD             float64
SGRQ            float64
AGEquartiles      int64
copd              int64
gender            int64
smoking           int64
Diabetes          int64
muscular          int64
hypertension      int64
AtrialFib         int64
IHD               int64
dtype: object

In [12]:
import json as jn
data = [{
    "name": "ABC PQR",
    "age": 30,
    "isStudent": False,
    "skills": ["Python", "JavaScript", "SQL"],
    "address": {
        "street": "123 Main Road",
        "city": "Pune",
        "state": "MH"}
    },
    {"name": "XYZ PQR",
    "age": 20,
    "isStudent": True,
    "skills": [ "JavaScript", "SQL","Python"],
    "address": {
        "street": "124 Main Road",
        "city": "Pune",
        "state": "MH"}
    }
]

with open(file="a.json",mode="a") as file1:
    jn.dump(data,file1,indent=2)

In [13]:
file1.close

In [14]:
df=pd.read_json("a.json")
print(df.head())

      name  age  isStudent                     skills  \
0  ABC PQR   30      False  [Python, JavaScript, SQL]
1  XYZ PQR   20       True  [JavaScript, SQL, Python]

                                             address
0  {'street': '123 Main Road', 'city': 'Pune', 's...
1  {'street': '124 Main Road', 'city': 'Pune', 's...

In [25]:
with open(file="a.json",mode="r") as fil11:
    df1=jn.load(fil11)
df1=pd.json_normalize(df1)
print(df1)

      name  age  isStudent                     skills address.street  \
0  ABC PQR   30      False  [Python, JavaScript, SQL]  123 Main Road
1  XYZ PQR   20       True  [JavaScript, SQL, Python]  124 Main Road

  address.city address.state
0         Pune            MH
1         Pune            MH

In [20]:
print(df1.head())

      name  age  isStudent                     skills address.street  \
0  ABC PQR   30      False  [Python, JavaScript, SQL]  123 Main Road
1  XYZ PQR   20       True  [JavaScript, SQL, Python]  124 Main Road

  address.city address.state
0         Pune            MH
1         Pune            MH